.quiz-container{
  border: 1px solid gray;
  height: 350px;
  width: 350px;
  background-color: blanchedalmond;
  margin: 30px;
  border-radius: 10px;
}
.quiz-img img{
    width: 350px;
    height: 250px;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.quiz-btn{
  border-radius: 5px;
  height: 55px;
  width: 100px;
}
.quiz-btn:hover{
  background-color: blue;
  color: white;
}
.quiz-btn a{
  text-decoration: none;
}
.quiz-btn a:hover{
  color: white;
}