.quiz-container{
  border: 1px solid gray;
  height: 350px;
  width: 350px;
  background-color: blanchedalmond;
  margin: 30px;
  border-radius: 10px;
}
.quiz-img img{
    width: 350px;
    height: 250px;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}