.chart-container{
    background-color: darkgray;
    padding: 20px;
    margin: 0 auto;
    margin-left: 20px;
}
@media screen and (max-width:768px) {
    .chart-container{
        background-color: darkgray;
        margin: 0 auto;
    }
}
