.question-part{
    width: 500px;
    border: 1px solid gray;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: azure;
}
.options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.view{
    height: 30px;
    width: 30px;
}
@media screen and (max-width:768px) {
    .question-part{
        width: 300px;
        border: 1px solid gray;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: azure;
    }
}