.nav-itam{
    background-color: rgb(110, 31, 193);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    font-size: 25px;
    margin-left: 50px;
}
.nav-link a{
    text-decoration:  none;
    color: white;
    margin: 20px;
    font-size: 20px;
}
.nav-link a:hover{
    background-color:bisque;
    color: black;
}
@media screen and (max-width:768px) {
    .nav-logo{
        font-size: 13px;
        display: inline;
    }
    .nav-link a{
        text-decoration:  none;
        color: white;
        margin: 10px;
        font-size: 20px;
    }
}